@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

img a{
    border:none;
}

a, a, h1{text-decoration: none !important;}

embed,
video,
iframe,
iframe[style]{
    max-width: 100%;
    height: auto;

}

ul{
    list-style: none;
}

:root {
    --themeColorA: #fee9cd;
    --themeColorB: #289b96;
    --themeColorB_h: #5cddd8;
}

/* HEADER TOPO */
.header_nav{
    background-color: var(--themeColorA) !important;
}

.header_logo img{
    max-width: 100%;
    width: 260px;
}

.header_top_ul{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.header_top_ul li{
    font-size: 1.2em;
    margin-left: 28px;
}

.header_top_ul a{
    color: #000;
}

.header_top_ul li:hover,
.header_top_ul li a:hover{
    color: var(--themeColorB) !important;
}

.header_contact{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.search_box:hover > .search_text{
    width: 240px;
    padding: 0 6px;
}

.search_box{
    position: absolute;
    top: 18px;
    left: 72%;
    transform: translate(-50%,50%);
    background: #60ded7;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search_btn{
    color: #ffffff;
    float: right;
    width: 40px;
    font-size: 0px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin: -10px;
    top: 0px;
    cursor: pointer;
    background: url(../../images/search.png) no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: #ff694b;
}

.search_text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    color: #fff;
}


/* HEADER TOPO */

/* WHATSAPP */

.main_whatsapp img{
    width: 50px;
    height: 50px;
    right: 55px;
    position: fixed;
    max-width: 100%;
    bottom: 40px;
    z-index: 99;
}
/* WHATSAPP */

/* CARROUSEL SLIDER */

.carousel-inner img{
    height: auto;
}

.carousel-indicators li{
    width: 40px !important;
    height: 8px !important;
    background-color: var(--themeColorB) !important;
    margin-left: 8px !important;
    opacity: 1 !important;
}

.carousel-indicators .active{
    background-color: #fff !important;
}

/* CARROUSEL SLIDER */

.main_items{
    display: flex;
    margin: 30px 0;
}

.main_items_desc{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_items_desc img{
    width: 100px;
    max-width: 100%;
    margin-bottom: 15px;
    margin: 20px auto;
}

.main_items_desc h1{
    font-size: 1.2em;
    color: #000;
}

.main_items_desc a{
    text-decoration: none;
}

/* MAIN MARKETING */

.bg_main_marketing{
    background: #f2f2f2;
    height: auto;
    padding: 20px;
}

.main_marketing{
    
    display: flex;
    height: 305px;
    flex-direction: column;
    max-width: 100%;
}

.main_marketing header{
    margin: 30px auto;
}

.main_marketing h1{
    font-size: 1.3em;
    text-align: center;
    width: 350px;
    max-width: 100%;
    margin-bottom: 30px;
}

.main_form_marketing{
    margin: 20px auto;
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 100%;
}

.main_form_marketing input[type="text"]{
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    text-align: center;
}

.main_form_marketing input[type="email"]{
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    text-align: center;
}

/* MAIN MARKETING */

/* FOOTER */

.main_footer{
    background: #003633;
    align-items: center;
    color: #fff;
}

.main_byrow_footer{
    align-items: center;
}

.logo_footer img{
    width: 280px;
    max-width: 100%;
    margin: 20px 0px;
}

.main_social{
    display: flex;
    justify-content: flex-end;
}

.main_social_face{
    width: 32px;
    height: 32px;
    background: url(../../images/facebook.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
}

.main_social_insta{
    width: 32px;
    height: 32px;
    background: url(../../images/instagram.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    margin-left: 12px;
}

.main_footer_contact{
    display: flex;
    flex-direction: column;
}

.main_footer_payme{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.main_footer_payme p{
    text-align: right;
}

.main_footer_payme img{
    width: 180px;
    max-width: 100%;
}

.main_footer_copy{
    text-align: center;
    padding: 24px;
}


/* FOOTER */

/* PAGE ABOUT */

.main_about{
    margin:30px auto;
}

.about_contents{
    margin: 24px auto;
}

/* PAGE ABOUT */

/* PAGE PRODUTOS */
.form_produtos{
    display: flex;
    justify-content: center;
    align-content: center;
    margin:20px auto;
}

.main_produtos{
	margin:33px 0;
}

.main_produtos > .row{
    align-items: flex-end;
}

.main_produtos_details{
    max-width: 250px;
    text-align: center;
    margin:30px 0;
}

.main_produtos_details img{
    width: 300px;
    height: auto;
}

.main_produtos_details h1{
    font-size: 1.3em;
}

.main_produtos_details p{
    font-size: 1em;
    margin:10px 0;
}

.main_produtos_details a{
    width: 80%;
}

.page_bottons{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}


/* PAGE PRODUTOS */

/* PAGE CONTATO */
.page_contato{
    margin:20px auto;
}

.btn_contact{
    width: 50%;
    margin:20px 0;
}

/* PAGE CONTATO */

/* 404 NOT FOUND */
.page_not_found{
    margin:35px auto;
}

/* 404 NOT FOUND */

/* PAGE SINGLE PRODUTOS */
.main_produtos_item{
    margin: 20px auto;
}

.main_produtos_item img{
    height: auto;
}

.social_tags_prod{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.social_tags_prod a{
    text-align: right;
    margin-left: 12px;
    margin-bottom: 15px;
}

/* PAGE SINGLE PRODUTOS */

/* PAGE FINALE PRODUTO */
.orcamento-cw{
	margin: 30px 0;
}
/* PAGE FINALE PRODUTO */


@media (max-width: 576px){
    .header_logo{
        margin: 0 auto;
    }
    
    .header_top_ul{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .header_contact{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 12px;
    }


    .search_box{
        position: relative;
        top: -25px;
        left: 40%;
        transform: translate(-50%,50%);
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        max-width: 300px;
        margin: 15px auto;
    }

    .search_btn{
        color: #ffffff;
        float: right;
        width: 40px;
        font-size: 0px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        margin: -10px;
        top: 0px;
        cursor: pointer;
        background: url(../../images/search.png) no-repeat;
        background-size: 18px;
        background-position: center;
        background-color: #ff3838;
    }

    .search_text{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 20px;
        width: 200px;
        color: #fff;
    }

    .logo_footer{
        flex-direction: column;
        align-items: center;
    }

    .logo_footer img{
        width: 280px;
        max-width: 100%;
        margin: 20px auto;
    }

    .main_social{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 18px;
    }

    .main_footer_contact{
        text-align: center;
        margin-bottom: 10px;
    }

    .main_footer_payme{
        align-items: center;
    }

}

